<div id="<%= dom_id dealership %>">
  <p>
    <strong>Name</strong> <%= dealership.name %>
  </p>
  <p>
    <strong>Address</strong> <%= dealership.address %>
  </p>
  <p>
    <strong>State</strong> <%= dealership.state %>
  </p>
  <p>
    <strong>Country</strong> <%= dealership.country %>
  </p>
  <p>
    <strong>City</strong> <%= dealership.city %>
  </p>
</div>



