<%= form_with model: car do |form| %>
  <div>
    <%= form.label :brand %><br>
    <%= form.text_field :brand %>
  </div>
  <br>

  <div>
    <%= form.label :model %><br>
    <%= form.text_field :model %>
  </div>
  <br>

  <div>
    <%= form.label :sub_model %><br>
    <%= form.select :sub_model, YEARS_SUB_MODEL, { prompt: '-- Please Select --' } %>
  </div>
  <br>

  <div>
    <%= form.label :price %><br>
    <%= form.number_field :price, min: 1, step: 0.01 %>
  </div>
  <br>

  <div>
    <%= form.label :condition %><br>
    <%= form.select :condition, CAR_CONDITIONS, { prompt: '-- Please Select --' }  %>
  </div>
  <br>

  <div>
    <%= form.label :entry_date %><br>
    <%= form.date_field :entry_date %>
  </div>
  <br>
  <div>
  <%= link_to "Back", cars_path %>
  <%= form.submit %>
  </div>
<% end %>