<h1>Car Details</h1>

<p>
  <strong>Brand: </strong> <%#= @car.brand %>
</p>
<p>
  <strong>Model: </strong> <%= @car.model %>
</p>
<p>
  <strong>Sub Model: </strong> <%= @car.sub_model %>
</p>
<p>
  <strong>Price: </strong> <%= @car.price %>
</p>
<p>
  <strong>Condition: </strong> <%= @car.condition %>
</p>
<p>
  <strong>Entry date: </strong> <%= @car.entry_date %>
</p>

<p>
  <%= link_to 'Edit', edit_car_path(@car) %> | 
  <%= link_to 'Back', cars_path %>
</p>

<div>
  <h3>Dealerships</h3>
  <%= link_to 'Assign Dealership', new_car_cars_dealership_path(car_id: @car.id) %>
<br/>
<br/>
<br/>
<% unless @car_dealerships.empty? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Country</th>
        <th>located at a dealership?</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @car_dealerships.each do |car_d| %>
        <tr>
          <td><%= car_d.dealership.name %></td>
          <td><%= car_d.dealership.country %></td>
          <td><%= car_d.located_at %></td>
          <td>
            <%= link_to "View Dealer", dealership_path(car_d.dealership) %>
          </td>
          <td><%= link_to "Edit", edit_car_cars_dealership_path(car_id: car_d.car_id, id: car_d.id)  %></td>
          <td>
            <%= link_to "Destroy", car_cars_dealership_path(car_id: car_d.car_id, id: car_d.id), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
<%else%>
  <h4>No Dealerships yet!</h4>
<%end%>
</div>